#### VS Code Stuff
refair-server/.vscode/

#### GloVe 100d word embeddings
server/utils/models/glove.6B.100d.txt

#### Virtual environments, etc.
refair-server/__pycache__/
client/desktop_app/__pycache__
client/desktop_app/components/__pycache__
refair-server/env/
test/system/env/
refair-server/.pytest_cache/
refair-server/.tox/
test/system/.venv/
test/system/tests/__pycache__/
# This is the name of my virtual environment -DG266
refair-server/.venv/
test/system/.venv/

#### Coverage reports
refair-server/.coverage
refair-server/coverage.xml
